/*
 * Additional CSS for SimplePHPSite
 */
.content {

}

.content small {
  color: rgb(179, 179, 179);
}

#footer-copyright {
  margin-top: 40px;
  text-align: center;
}

#notice {
  color: red;
  position: absolute;
  top: 55px;
}
