/*
 * Additional CSS for SimplePHPSite
 */
.cover {
    background: url("../images/splash.jpg") no-repeat 0 0 fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

.content {
    margin-top: -2em;
    padding: 1em;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    -moz-border-radius: 15px;
}

.content small {
    color: rgb(179, 179, 179);
}

.navbar-inverse {
    background-image: url("../images/header.png");
}

#footer-copyright {
    color: white;
    font-size: 70%;
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
}

#notice {
    color: red;
    position: absolute;
    top: 55px;
}